body {
    background-color: hsl(36, 100%, 99%);
    margin: 0;
    padding: 0 8rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-family: 'Playfair Display', serif;
        color:  hsl(240, 100%, 5%);
        font-size: 36px;
        text-align: left;

        span {
            font-style: italic;
        }
    }
    ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    li {
        list-style: none;
    }

    a {
        color: hsl(233, 8%, 79%);
        font-family: 'Fanwood Text', serif;
        font-size: 20px;
        text-decoration: none;
    }
}

#main-container {
    padding: 50px;
    p {
        font-family: 'Fanwood Text', serif;
        font-size: 20px;
        text-align: left;
    }
}

#info-container{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#left-container {
    #block-img {
        width: 700px;
        height: 300px;
    }
}

@media (max-width: 769px) {
}
@media only screen and (min-width: 992px) {
}

