body {
    background-color: hsl(36, 100%, 99%);
    margin: 0;
    padding: 2rem 5rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-family: 'Playfair Display', serif;
        color:  hsl(240, 100%, 5%);
        /* font-size: 36px; */
        font-size: clamp(1rem, 4vw, 2rem);
        text-align: left;

        span {
            font-style: italic;
        }
    }
    ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    li {
        list-style: none;
    }

    a {
        color: hsl(233, 8%, 79%);
        font-family: 'Fanwood Text', serif;
        font-size: 20px;
        text-decoration: none;
    }
}
.noShow {
    display: none;
}
#main-container {
    p {
        font-family: 'Fanwood Text', serif;
        font-size: 20px;
        text-align: left;
    }
}

#info-container{
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
}

#left-container {
    #block-img-desktop {
        width: 700px;
        height: 300px;
    }
    #block-img-mobile {
        display: none;
    }
}

@media (max-width: 789px) {
    body {
       padding: 0 30px; 
    }
    .noShow {
        display: block;
    }
    #list-menu {
        display: none;
    }
    #block-img-desktop {
        display: none;
    }
    #info-container {
        #block-img-mobile {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: bottom;
        }
    }
}
@media only screen and (min-width: 992px) {
}

