body {
    background-color: hsl(36, 100%, 99%);
    margin: 0;
    padding: 2rem 5rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-family: 'Playfair Display', serif;
        color:  hsl(240, 100%, 5%);
        font-size: clamp(1.5rem, 4vw, 2rem);
        text-align: left;

        span {
            font-style: italic;
        }
    }
    ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    li {
        list-style: none;
    }

    a {
        color: hsl(233, 8%, 79%);
        font-family: 'Fanwood Text', serif;
        font-size: 20px;
        text-decoration: none;
    }
}
.noShow {
    display: none;
}
#main-container {
    p {
        font-family: 'Fanwood Text', serif;
        font-size: 20px;
        text-align: left;
    }
}

#info-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    /* align-items: center; */
}

#left-container {
    #block-img-desktop {
        width: 700px;
        height: 300px;
    }
    #block-img-mobile {
        display: none;
    }
}
#left-container-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 700px;

    :first-child {
        flex: 3;
    }
    :nth-child(2){
        flex: 3;
    }

    h2 {
        font-family: 'Playfair Display', serif;
        color:  hsl(240, 100%, 5%);
        font-size: clamp(1.5rem, 4vw, 2rem);
        font-weight: 800;
    }
}
#right-container {
    max-width: 500px;
    height: auto;
    background-color: black;
    padding: 20px 30px;

    h1 {
        color: white;
    }
    p {
        color: white;
    }
}
@media (max-width: 992px) {
    body {
       padding: 0 30px; 
    }
    .noShow {
        display: block;
    }
    #list-menu {
        display: none;
    }
    #block-img-desktop {
        display: none;
    }
    #info-container {
        display: block;
        #block-img-mobile {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: bottom;
        }
    }
    #left-container-info {
        display: block;
        width: 100%;
        padding-bottom: 50px;
    }
}
@media only screen and (min-width: 992px) {
}

